:root{
/*Una pseudoclase es un nombre inventado por nosotros que va a guardar un estilo personalizado*/
   
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
}
/*Hay formas de utilizar los colores puede ser RGB(RED GREEN BLUE del 0-255),
 Nombre y por Hexadecimal, existe el HSL que casi no se usa.
El alpha es la transparencia(0-1) de que se le puede aplicar
El REM es el tamano de la fuente raiz*/

html{
    font-size: 62.5%;

}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo span{
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    /*el justify -content sirve para filas (row) y alingn-item para columnas*/
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;

    
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;

}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width:768px){
    .navegacion-principal{
        flex-direction: row;
    }
}